body, html{
  background-color: black;
  scroll-behavior: smooth;
}
/* colors: #39ff14 , #ff1439 */


.main-square{
  width: 55%;
  height: auto;
  min-width: 240px;
  margin: 15px auto 256px;
  border-radius: 55px;
  color: white;
  text-align: center;

}
@media screen and (min-width: 600px){
  .main-square{
    box-shadow: 0 0 40px white;
    transition: all 0.3s ease-in-out;
    border: 4px solid white;
  }
  .main-square:hover{
    border: 4px solid #39ff14;
    box-shadow: 0 0 60px #39ff14;
  }
}

@media screen and (max-width: 600px){
  .main-square{
    width: 97%;
    border: 4px solid #39ff14;
    box-shadow: 0 0 60px #39ff14;
  }
}

/*----------------------------------------------*/

.something-special{
  width: 20px;
  height: 20px;
  float: right;
  background-color: black;
  text-align: center;
}
@media screen and (max-width: 601px){
  .something-special{
    float: none;
    text-align: center;
  }

}
.egg-btn{
  font-size: 16px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.egg-btn:hover{
  color: #ff1439;
}

/*----------------------------------------------*/

.title-ucs{
  margin: 10px 10px 20px 10px;
}
.title-ucs h1{
  font-size: 69px;
  font-family: 'NTR',monospace;
  text-shadow: 0 0 5px white;
  margin: 20px 20px 10px;
  user-select: none;
  -ms-user-select: none;
  animation: head-light 16s linear infinite;
}
.title-ucs p{
   font-family: monospace;
}

@keyframes head-light {
  0%   {color: white;}
  15%  {color: #39ff14; text-shadow: 0 0 5px #39ff14;}
  50%  {color: #39ff14; text-shadow: 0 0 15px #39ff14;}
  85%  {color: #39ff14; text-shadow: 0 0 5px #39ff14;}
  100% {color: white;}
}

.title-ucs p{
  margin-top: 0;
}

hr{
  width: 60%
}


.links{
  margin: auto;
}
#link-icon ul{
  padding: 0;
  list-style-type: none;
}
#link-icon li{
  display: inline-block;
  margin: 0 15px;
}

.links a{
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 35px;
  transition: all 0.2s ease-in-out;
}
.links a:hover{
   transform: scale(1.2);
   color: #ff1439;
}


.para-img{
  margin: 20px auto 10px;
  width: 120px;
  height: auto;
}


.godown{
  display: block;
  margin: 0 auto 0;
  padding: 0;
  width: 22%;
  min-width: 108px;
  border: 4px solid white;
  transform: translateY(27px);
  background-color: black;
  height: 46px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 600px){
  .godown:hover{
    border: 4px solid #ff1439;
    box-shadow: 0 0 15px #ff1439;
    width: 27%;
  }
}
@media screen and (max-width: 600px){
  .godown{
    border: 4px solid #ff1439;
  }
}

#down-btn{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: monospace;
}


/*----------------------------------------------*/
/* DIV 2 */

#content{
  margin-bottom: 600px;
  width: 100%;
  height: 500px;
  border-top: 10px solid white;
  color: white;
}

.c-row{
  margin: 5px auto 10px;
  padding: 10px 0;
  height: 40px;
  position: sticky;
  top: 0;
  background-color: white;
}
.nav-btn{
  float: left;
  width: 23%;
  height: 40px;
  border: 2px solid white;
  margin: 0 1% 10px 1%;
  outline: none;
  text-align: center;
  font-family: monospace;
  transition: all 0.2s ease-in-out;
}
.nav-btn:hover{
  background-color: #ff1439;
  cursor: pointer;
}



#content h1{
  text-align: center;
}




/*----------------------------------------------*/
/* FOOTER */

.footer{
  border-top: 2px solid white;
  background-color: black;
  padding: 15px;
}

.LICENSE {
  margin: auto;
  border: 2px solid white;
  padding: 1px;
  width: 108px;
}
.LICENSE-content{
  width: auto;
  height: auto;
  opacity: 0.45;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 600px){
  .LICENSE-content:hover{
     opacity: 1;
  }
}
@media screen and (max-width: 600px){
  .LICENSE-content{
    opacity: 1;
  }
}


.LICENSE a{
  text-decoration: none;
}
.LICENSE img{
  width: 100%;
}

.license-by {
  padding: 0 5px 1px;
}
.license-by p{
  font-size: 10px;
  text-align: center;
  color: white;
  font-family: monospace;
}
