body, html{
  background-color: black;
  scroll-behavior: smooth;
}
/* colors: #39ff14 , #ff1439 */

.main-square{
  width: 55%;
  height: auto;
  min-width: 320px;
  margin: 15px auto 256px;
  border-radius: 55px;
  color: white;
  text-align: center;
}

/*----------------------------------------------*/
.title-ucs{
  margin: 10px 10px 20px 10px;
}
.title-ucs h1{
  font-size: 69px;
  font-family: 'NTR',monospace;
  text-shadow: 0 0 5px white;
  margin: 20px 20px 10px;
  user-select: none;
  -ms-user-select: none;
  animation: head-light 16s linear infinite;
}
.title-ucs p{
   font-family: monospace;
}

@keyframes head-light {
  0%, 100% {color: white;}
  15%, 85% {color: #39ff14; text-shadow: 0 0 5px #39ff14;}
  50% {color: #39ff14; text-shadow: 0 0 15px #39ff14;}
}

.title-ucs p{
  margin-top: 0;
}

hr{
  width: 60%
}

.links{
  box-sizing: border-box;
  width: 70%;
  margin: 10px auto 25px;
}

.links ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.links li{
  width: 40px;
  height: 40px;
  margin: 5px 15px;
  transition: all 0.2s ease-in-out;
}
.links a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
}
.links svg{
  fill: white;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.links svg:hover{
  fill: red;
}
.links li:hover{
  transform: scale(1.2);
}

.para-img{
  margin: 20px auto 10px;
  width: 120px;
  height: auto;
}

.godown{
  display: block;
  margin: 0 auto 0;
  padding: 0;
  width: 22%;
  min-width: 108px;
  border: 4px solid white;
  transform: translateY(27px);
  background-color: black;
  height: 46px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#down-btn{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: monospace;
}

/*----------------------------------------------*/
/* DIV 2 */
#content{
  width: 100%;
}

.c-row{
  margin: 5px auto 10px;
  padding: 10px 0;
  height: 40px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#navbtn{
  width: 36%;
  height: 40px;
  border: 2px solid white;
  margin: 0 2% 10px 2%;
  outline: none;
  text-align: center;
  font-family: monospace;
  transition: all 0.2s ease-in-out;
}
#navbtn:hover{
  background-color: #ff1439;
  cursor: pointer;
}

#content p{
  color: white;
  text-align: center;
  font-family: monospace;
}

/*----------------------------------------------*/
@media screen and (min-width: 600px){
  .main-square{
    box-shadow: 0 0 40px white;
    transition: all 0.3s ease-in-out;
    border: 4px solid white;
  }
  .main-square:hover{
    border: 4px solid #39ff14;
    box-shadow: 0 0 60px #39ff14;
  }
  .godown:hover{
    border: 4px solid #ff1439;
    box-shadow: 0 0 15px #ff1439;
    width: 27%;
  }
}

@media screen and (max-width: 600px){
  .main-square{
    width: 97%;
    border: 4px solid #39ff14;
    box-shadow: 0 0 60px #39ff14;
  }
  .godown{
    border: 4px solid #ff1439;
  }
}


/*

.links{
  margin: auto;
}
#link-icon ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
#link-icon li{
  background-color: white;
  margin: 0 15px;
  width: 50px;
  height: 50px;
}

.links a{
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 35px;
  transition: all 0.2s ease-in-out;
}
.links a:hover{
   transform: scale(1.2);
   color: #ff1439;
}

*/