body{
  background-color: black;
}


.main{
  width: 50%;
  min-width: 195px;
  height: auto;
  margin: auto;
  background-color: black;
  color: white;
  text-align: center;
  border: 3px solid white;
  border-radius: 37px;
  box-shadow: 0 0 20px white;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 650px){
  .main{
    width: 95%
  }
}
.main:hover{
  border: 3px solid crimson;
  box-shadow: 0 0 20px crimson;
}


.header{
  margin: 10px 10px 20px 10px;
}
.header h1{
  font-size: 69px;
  font-family: 'NTR',sans-serif;
  text-shadow: 0 0 5px white;
  margin: 10px 10px 0 10px;
}
.header p{
  margin-top: 0;
}

hr{
  width: 60%
}


.links{
  margin: auto;
}
#link-icon ul{
  padding: 0;
  list-style-type: none;
}
#link-icon li{
  display: inline-block;
}

a{
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}
a:hover{
   transform: scale(1.2);
   color: crimson;
}



img{
  margin: 25px auto 35px;
  width: 144px;
  height: auto;
  animation-name: paradox;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes paradox {
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  55% {transform: scale(1);}
  75% {transform: scale(0.85);}
  100% {transform: scale(1);}
}
