body{
  background-color: black;
}

.versionlog{
  margin: 40px 5% 300px;
  padding: 15%;
}

@media screen and (max-width: 800px) {
  .versionlog {
    margin: 40px 1% 80px;
    padding: 10px;
  }
}


#log{
  text-align: center;
  color: crimson;
  font-family: monospace;
}

.vtab {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  min-width: 260px;
}

.activate, .vtab:hover {
  background-color: #555;
  transition: 0.6s;
}

.vtab:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activate:after {
  content: "\2212";
}

.panel {
  padding: 0 22px;
  min-width: 216px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

@media screen and (max-width: 800px) {
  .panel{
    padding: 0 12px;
  }
}
