@import "common";

:root {
  --accentColor: hsl(350, 100%, 57%); //slate red
  --secColor: hsl(200, 100%, 70%);
}

main {
  width: 100%;
  height: clamp(666px, 100vh, 1000px);
  padding: 10px;
  display: grid;
  grid-template-areas:
    "l h a"
    "l i a"
    "b b a";
  grid-template-columns: 75px minmax(290px, 1fr) 1fr;
  grid-template-rows: 118px minmax(140px, 1fr) 256px;
  row-gap: 20px;
  column-gap: 20px;
}

@media screen and (max-width: 888px) {
  main {
    padding: 10px clamp(10px, 8%, 70px);
    height: auto;
    display: grid;
    grid-template-areas:
      "l h"
      "l i"
      "a a"
      "b b";
    grid-template-rows: 118px 180px minmax(250px, auto) auto;
    grid-template-columns: 75px 1fr;
    row-gap: 20px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  main {
    padding: 10px;
  }
}

.OneCard {
  background-color: black;
  border-radius: 8px;
  border: 3px solid white;
  transition: all 0.1s linear;

  &:hover {
    border-color: var(--accentColor);
    box-shadow: 0 0 32px var(--accentColor);
  }
}

//---------------------------
header {
  margin: 0 18%;
  grid-area: h;
  text-align: center;
  color: white;

  h1 {
    font-size: 54px;
    font-family: "Quicksand", monospace;
    margin: 0;
    color: var(--accentColor);
    user-select: none;
  }

  p {
    font-family: monospace;
    font-size: 11px;
  }
}

@media screen and (max-width: 888px) {
  header {
    margin: 0;
  }
}

//---------------------------
nav {
  grid-area: l;

  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      width: 40px;
      height: 40px;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    outline: none;

    svg {
      fill: white;
      width: 100%;
      height: 100%;
      transition: fill 0.2s linear;

      &:hover,
      &:active {
        fill: var(--accentColor);
        transform: scale(1.1);
      }
    }
  }
}

//--about--------------------
#about {
  grid-area: a;
  padding: 5px;
  color: white;
}

.about-nav {
  margin: 10px 0 20px;
  display: flex;
  justify-content: center;
}

.about-nav-btns {
  display: flex;
}

.abouttab {
  padding: 7px 18px;
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  border: 2px solid white;
  border-right: 0px;

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-right: 2px solid white;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: var(--secColor);
    color: black;
  }
}

.activetab {
  background-color: var(--accentColor);
}

//----about-content----------
.recent-blogs {
  padding: 0 10px;

  & > p {
    display: block;
    margin: 0;
    width: 50%;
    min-width: 200px;
    font-family: "Open Sans";
    color: white;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;
    font-family: "Open Sans";
    color: var(--secColor);

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
    font-family: "Open Sans";
  }
}

#blog-read-more {
  float: right;
  font-family: "Open Sans";
  font-size: 12px;
  color: white;

  &:hover {
    color: var(--accentColor);
  }
}

//---------------------------
#SettingsCard {
  grid-area: i;
  display: flex;
  flex-wrap: wrap;
}

.TheButtons {
  width: 125px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid white;
  padding: 5px;
  transition: all 0.2s linear;
  font-family: "Open Sans";
  color: white;

  &:hover {
    border: 3px solid var(--accentColor) !important;
    box-shadow: 0px 2px 20px var(--accentColor);
  }

  span {
    color: var(--accentColor);
  }
}

//-----footer----------------
%all-text {
  color: white;
  font-family: "Open Sans";
  margin: 5px;
}

footer {
  grid-area: b;
  padding: 10px 10px 30px;
}

.main-of-footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.all_social_links {
  width: 140px;
  padding: 0px 10px;
  text-align: center;

  h3 {
    @extend %all-text;
    font-size: 16px;
  }

  hr {
    margin: 0;
    width: 100%;
  }

  a {
    @extend %all-text;
    display: block;
    font-size: 12px;
    text-align: center;
  }
}

.footer-of-footer {
  position: relative;
  top: 5px;
  text-align: center;

  p {
    margin: 0;
    color: rgb(150, 150, 150);
    font-family: "Open Sans";
    font-size: 12px;
  }
}
