@import "common";
//{% block title %}Meoww | {% endblock title %}


:root {
  --accentColor: #ff1439;
}

body {
  background-color: hsl(0, 0%, 8%);
  margin: 0;
  min-width: 372px;
}

hr {
  width: 75%;
}

main {
  width: 100%;
  padding: 10px;
  height: clamp(500px, 100vh, 1000px);
  display: grid;
  grid-template-columns: 1fr minmax(180px, 1fr) 1fr;
  grid-template-rows: 120px 80px minmax(140px, 1fr) 256px;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas:
    "d h a"
    "d l a"
    "d i a"
    "b b a";
}

@media screen and (max-width: 888px) {
  main {
    display: grid;
    grid-template-areas: "h" "l" "i" "d" "a" "b";
    grid-template-rows: 120px 80px 140px minmax(250px, auto) minmax(250px, auto) 256px;
    grid-template-columns: 1fr;
    padding: 10px clamp(10px, 8%, 70px);
    height: auto;
  }
}

@media screen and (max-width: 520px) {
  main {
    padding: 10px;
  }
}

.OneCard {
  background-color: black;
  border-radius: 5px;
  border: 3px solid white;
  transition: all 0.2s linear;

  &:hover {
    border: 3px solid var(--accentColor) !important;
    box-shadow: 0px 2px 40px var(--accentColor);
  }
}

//---------------------------
header {
  grid-area: h;
  text-align: center;
  color: white;

  h1 {
    font-size: 340%;
    font-family: "Quicksand", monospace;
    margin: 0;
    user-select: none;
    color: var(--accentColor);
  }

  p {
    font-family: monospace;
    font-size: 11px;
  }
}

//---------------------------
nav {
  grid-area: l;

  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
      width: 40px;
      height: 40px;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    outline: none;

    svg {
      fill: white;
      width: 100%;
      height: 100%;
      transition: fill 0.2s linear;

      &:hover {
        fill: #ff1439;
        transform: scale(1.1);
      }
    }
  }
}

//---------------------------
#about {
  grid-area: a;
}

#datame {
  grid-area: d;
  padding: 5px;
  color: white;
  font-size: 14px;
  font-family: "Open Sans";
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
  }
}

//---------------------------
#SettingsCard {
  grid-area: i;
  display: flex;
  flex-wrap: wrap;
}

.TheButtons {
  width: 125px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid white;
  padding: 5px;
  transition: all 0.2s linear;
  font-family: "Open Sans";
  color: white;

  &:hover {
    border: 3px solid var(--accentColor) !important;
    box-shadow: 0px 2px 20px var(--accentColor);
  }

  span {
    color: #ff1439;
  }
}

//---------------------------
%all-text {
  color: white;
  font-family: "Open Sans";
  margin: 5px;
}

footer {
  grid-area: b;
  padding: 10px 10px 30px;
  display: flex;
  flex-wrap: wrap;
}

.main-of-footer {
  height: 100%;
  width: 100%;
}

.all_social_links {
  width: 140px;
  padding: 0px 10px;
  border: 1px solid white;

  h3 {
    @extend %all-text;
    font-size: 14px;
  }

  hr {
    margin: 0;
    width: 100%;
  }

  a {
    @extend %all-text;
    display: block;
    font-size: 12px;
    text-align: center;
  }
}

.footer-of-footer {
  margin: 0 auto;
  position: relative;
  top: 5px;
  color: rgb(150, 150, 150);
  font-family: "Open Sans";
  font-size: 12px;
  vertical-align: middle;
}
