.NavContainer {
  margin: 5px;
  border-radius: 3px;
  background-color: var(--back-nochange) !important;
}

#my-status {
  background-color: var(--accentColor);
  padding: 0px;
  margin: 0px 5px 5px;
  border-radius: 3px;

  p {
    text-align: center;
  }
}

.main-nav {
  position: relative;
  bottom: 28px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-btns {
  display: flex;
}

.tabs {
  padding: 7px 25px;
  font-size: 18px;
  border: 2px solid var(--text);
  border-right: 0px;
  will-change: padding, font-size;
  transition-duration: 0.2s;
  background-color: var(--back);

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-right: 2px solid var(--text);
    border-radius: 0 5px 5px 0;
  }
}

.activetab {
  padding: 7px 12px;
  background-color: var(--accentColor);
}

@media screen and (max-width: 560px) {
  .tabs {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 0px !important; //sc
  }

  .activetab {
    padding: 10px;
  }
}

//----main-content----------
#main-content {
  padding: 0 10px;
  color: var(--text-nochange);

  p {
    color: var(--text-nochange);
  }
}

.noscript {
  padding: 5px;
  background-color: var(--accentColor);
  opacity: 0;
  animation: slowUnhide 1s linear 2s forwards;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

@keyframes slowUnhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-content-heading {
  display: block;
  margin: 0 80px;
  min-width: 200px;
  color: var(--text-nochange);
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--text-nochange);
}

@media screen and (max-width: 560px) {
  .tab-content-heading {
    margin: 0 20px;
    font-size: 20px;
  }
}

//----blog-content-----
.recent-blogs {
  padding: 0 10px;
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
  }
}

#blog-read-more {
  float: right;
  font-size: 12px;

  &:hover {
    color: var(--accentColor);
  }
}

@media screen and (max-width: 963px) {
  .blog-item {
    a {
      font-size: 20px;
    }
    p {
      font-size: 8px;
    }
  }
}

//----about-content-----
.about-container {
  margin-top: 10px;
  padding: 0px 5%;
  // border: 1px solid var(--text);

  p {
    margin: 15px 0;
    font-family: "Roboto Mono";
    font-size: 16px;
  }
}
