.about-nav {
  margin: 10px 0 20px;
  display: flex;
  justify-content: center;
}

.about-nav-btns {
  display: flex;
}

.abouttab {
  padding: 7px 25px;
  font-size: 18px;
  border: 2px solid var(--text);
  border-right: 0px;
  will-change: padding, font-size;
  transition-duration: 0.2s;

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-right: 2px solid var(--text);
    border-radius: 0 5px 5px 0;
  }
}

.activetab {
  padding: 7px 12px;
  background-color: var(--accentColor);
  color: black;
}

@media screen and (max-width: 560px) {
  .abouttab {
    font-size: 16px;
    padding: 7px 20px;
  }

  .activetab {
    padding: 7px 10px;
  }
}

//----main-content----------
#main-content {
  padding: 0 10px;
  color: var(--text);
}

.tab-content-heading {
  display: block;
  margin: 0;
  width: 70%;
  min-width: 200px;
  color: var(--text);
  text-align: end;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--text);
}

@media screen and (max-width: 560px) {
  .tab-content-heading {
    font-size: 20px;
  }
}

//----about-blog-content-----
.recent-blogs {
  padding: 0 10px;
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;
    color: var(--secColor);

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
  }
}

#blog-read-more {
  float: right;
  font-size: 12px;

  &:hover {
    color: var(--accentColor);
  }
}

@media screen and (max-width: 888px) {
  .blog-item {
    a {
      font-size: 20px;
    }
    p {
      font-size: 8px;
    }
  }
}
