@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  //transition: all 0.2s linear;
}

:root {
  --accentColor: hsl(350, 100%, 57%); //slate red
  --secColor: hsl(200, 100%, 70%);
}

body {
  background-color: hsl(0, 0%, 8%);
  margin: 0;
  min-width: 370px;
}

button,
p,
a,
h1,
h2,
h3,
h4,
li,
span {
  font-family: "Quicksand";
  color: white;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.highlight {
  margin: 5px auto;
  width: 70%;
  height: 2px;
  background-color: white;
}

.zero-display {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1439;
}
