@use "_blogs";
@use "./variables/colors";
@use "./variables/fonts";

:root {
  --text-size: 16px;
}

.the-head {
  padding: 0 10px;
  h1,
  p {
    margin: 0;
    text-align: center;
  }
  h1 {
    padding: 10px 0;
  }
}

article {
  padding: 15px 45px;

  h2,
  h3,
  h4 {
    font-family: fonts.$text-reg;
    color: colors.$ac-blue;
    max-width: 70%;
    padding: 10px;
    border-bottom: 2px solid colors.$fg-text;
  }

  p,
  li,
  a,
  span {
    font-size: var(--text-size);
    font-family: fonts.$text-reg;
  }

  p {
    line-height: 30px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    display: block;
    margin: 15px auto;
    width: 95%;
    border-radius: 5px;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
}

@media screen and (max-width: 963px) {
  .the-head h1 {
    font-size: 32px;
  }
  article {
    padding: 15px;
  }
}

@media screen and (max-width: 560px) {
  :root {
    --text-size: 14px;
  }
}
