@use "_blogs";
@use "./variables/colors";

.the-head {
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 20px 10px;
  }

  p {
    margin: 0;
    font-size: 12px;
    text-align: center;
  }
}

article {
  padding: 15px 45px;

  h2,
  h3,
  h4 {
    color: colors.$ac-blue;
    width: 60%;
    padding: 10px;
    border-bottom: 1px solid colors.$fg-text;
  }

  p,
  li,
  a,
  span {
    font-size: 16px;
    font-family: "Roboto Mono";
  }

  p {
    line-height: 30px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
}

@media screen and (max-width: 963px) {
  .the-head h1 {
    font-size: 32px;
  }
  article {
    padding: 15px;
  }
}
