@use "_blogheader";

article {
  padding: 0 15px;
}

.article-head {
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 15px;
  }

  p {
    text-align: center;
    font-family: monospace;
  }
}
