@import "common";

body {
  display: flex;
  justify-content: center;
  padding: 0;
}

main {
  width: 70%;
  height: 900px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  background-color: black;
}

@media screen and (max-width: 888px) {
  main {
    margin: 0 10px;
    width: 100%;
  }
}

//---------------------------
.articles-list {
  border-top: 3px solid white;
  padding: 10px;
}

.article-single {
  margin: 5px 0;
  padding: 5px;

  a {
    font-size: 26px;
    color: var(--secColor);

    &:hover {
      text-decoration: underline;
    }
  }
}

.article-meta {
  font-family: monospace;
  font-size: 12px;
  color: white;
  padding: 3px 10px;
  margin: 0px;
}
