@use "_common";
@use "_about";

:root {
  --accentColor: hsl(350, 100%, 57%); //slate red
  --secColor: hsl(200, 100%, 70%);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {
  height: clamp(666px, 100vh, 1000px);
  padding: 20px;
  display: grid;
  grid-template-areas:
    "l h a"
    "l i a"
    "b b a";
  grid-template-columns: 75px minmax(290px, 4fr) 5fr;
  grid-template-rows: 118px minmax(140px, 1fr) 256px;
  row-gap: 20px;
  column-gap: 20px;
}

.OneCard {
  background-color: black;
  border-radius: 8px;
  border: 3px solid white;
  transition: all 0.2s linear;

  &:hover {
    border-color: var(--accentColor);
    box-shadow: 0 0 32px var(--accentColor);
  }
}

@media screen and (max-width: 888px) {
  body {
    padding: 10px clamp(10px, 8%, 70px);
    height: auto;
    display: grid;
    grid-template-areas:
      "h l"
      "i l"
      "a a"
      "b b";
    grid-template-rows: 118px 250px minmax(250px, auto) auto;
    grid-template-columns: 1fr 75px;
    row-gap: 15px;
    column-gap: 15px;
  }
}

@media screen and (max-width: 560px) {
  body {
    padding: 10px;
    grid-template-columns: 1fr 60px;
  }

  .OneCard {
    border: 2px solid white;

    &:hover {
      box-shadow: 0 0 20px var(--accentColor);
    }
  }
}

//---------------------------
header {
  margin: 0 auto;
  min-width: 280px;
  width: 70%;
  grid-area: h;
  text-align: center;
  color: white;

  h1 {
    font-size: 54px;
    font-family: "Quicksand", monospace;
    margin: 0;
    color: var(--accentColor);
    user-select: none;
  }

  p {
    font-family: monospace;
    font-size: 11px;
  }
}

@media screen and (max-width: 888px) {
  header {
    width: 100%;
  }
}

//---------------------------
nav {
  grid-area: l;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      width: 40px;
      height: 40px;
    }
  }
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;

  svg {
    fill: white;
    width: 100%;
    height: 100%;
    transition: fill 0.2s linear;

    &:hover,
    &:active {
      fill: var(--accentColor);
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 560px) {
  nav ul li {
    width: 35px;
    height: 35px;
  }
}

//--about--------------------
main {
  grid-area: a;
  padding: 5px;
  color: white;
  min-height: 500px;
}

//---------------------------
#SettingsCard {
  grid-area: i;
  display: flex;
  flex-wrap: wrap;
}

.TheButtons {
  width: 125px;
  margin: auto;
  border-radius: 5px;
  border: 2px solid white;
  padding: 5px;
  transition: all 0.2s linear;
  font-family: "Open Sans";
  color: white;

  &:hover {
    border-color: var(--accentColor) !important;
    box-shadow: 0px 2px 20px var(--accentColor);
  }

  span {
    color: var(--accentColor);
  }
}

//-----footer----------------
footer {
  grid-area: b;
  padding: 10px 10px 30px;
}

.main-of-footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.other-links {
  h4 {
    margin: 0;
    border-bottom: 1px solid white;
    padding: 5px;
  }
  li {
    padding: 5px 10px;
  }
  a {
    font-size: 14px;
  }
}

.footer-of-footer {
  position: relative;
  top: 5px;
  text-align: center;

  p {
    margin: 0;
    color: rgb(150, 150, 150);
    font-family: "Open Sans";
    font-size: 12px;
  }
}
