@use "./variables/colors";
@use "indexpage/_index";

@use "shared/social_links";

body {
  margin: auto;
  width: clamp(800px, 75%, 1200px);
  height: clamp(666px, 100vh, 1000px);
  padding: 20px;
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-areas:
    "l h h"
    "l m x"
    "i s x"
    "f f f";
  grid-template-columns: 75px 1fr 75px;
  grid-template-rows: 75px 1fr 75px 75px;
}

.OneCard {
  border-radius: 10px;
  background-color: colors.$bg-card;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  transform: none !important;
}

@media all and (max-width: 800px) {
  body {
    padding: 10px;
    margin: auto;
    width: auto;
    max-width: 640px;
    height: auto;
    grid-template-areas:
      "h"
      "l"
      "s"
      "x"
      "m"
      "f";
    grid-template-rows: 78px 80px 80px 50px minmax(250px, auto) auto;
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .OneCard {
    transform: none !important;
    border-radius: 0px; //sc
  }
}

@media screen and (max-width: 560px) {
  body {
    grid-template-columns: 1fr;
    row-gap: 25px; //sc
  }
}

@include social_links.var1(center);
nav {
  height: 70%;
}
//-----section----------------
section {
  grid-area: b;
  padding: 10px;
}

.github-info {
  h3 {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid colors.$fg-text;
    padding: 0 0 5px;
  }
}

#git-events {
  padding: 5px 5px 5px 25px;
  list-style-type: disc;

  li {
    padding: 5px 10px;
    font-size: 14px;
  }

  span {
    color: hsl(0, 0%, 50%);
    font-size: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
