@use "./variables/colors";
@use "indexpage/__index";

@use "shared/social_links";

body {
  margin: auto;
  width: clamp(800px, 65%, 1200px);
  height: clamp(666px, 100vh, 1000px);
  padding: 20px;
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-areas:
    "h h s s"
    "i m m l"
    "f f f f";
  grid-template-columns: 90px 1fr 2fr 75px;
  grid-template-rows: 90px 1fr 75px;
}

.OneCard {
  border-radius: 10px;
  background-color: colors.$bg-card;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  transform: none !important;
}

@media all and (max-width: 800px) {
  body {
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 640px;
    grid-template-areas:
      "h"
      "l"
      "s"
      "m"
      "f";
    grid-template-rows: 75px 54px auto minmax(250px, auto) auto;
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include social_links.var1(center);
nav {
  height: 80%;
}
@media screen and (max-width: 800px) {
  nav {
    height: 100%;
  }
}
