@use "./variables/var";
@use "shared/social_links";
@use "indexpage/_all";

body {
  width: 100%;
  height: clamp(666px, 100vh, 1000px);
  padding: 25px 50px;
  display: grid;
  grid-template-areas:
    "d h a"
    "d l a"
    "d i a"
    "f f a";
  grid-template-columns: 10fr minmax(290px, 7fr) 10fr;
  grid-template-rows: 118px 80px minmax(140px, 1fr) 256px;
  row-gap: 20px;
  column-gap: 20px;
}

.OneCard {
  border-radius: 10px;
  background-color: var.$bg-card;
  box-shadow: 0 0 8px hsl(0, 0%, 60%);
}
