@use "./variables/colors";
@use "shared/social_links";
@use "shared/heading";

body {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
  width: 380px;
  padding: 20px 10px;
}

@include heading.var(60px);
@include social_links.var1(space-around);
nav {
  padding: 20px;
}

#website {
  position: absolute;
  bottom: 50px;
}
