@use "./variables/colors";

* {
  transition: all 0.1s ease;
}

body {
  height: 85vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  background: hsla(0, 0%, 100%, 0.3);
  border: 3px solid colors.$fg-text;
  border-radius: 15px;
  width: clamp(370px, 80%, 420px);
  padding: 20px;
}

//share the same style across all pages for h1 and social links
h1 {
  font-size: 60px;
  color: colors.$ac1;
  text-align: center;
  margin: 0;
  user-select: none;
  filter: drop-shadow(0 0 2px colors.$ac1);
}

div {
  margin: 20px;
  display: flex;
  justify-content: space-around;

  a {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
    fill: colors.$fg-text;

    &:hover {
      transform: scale(1.1);
      fill: colors.$fg-links;
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

#website {
  position: absolute;
  bottom: 20px;

  &:hover {
    color: colors.$ac1;
  }
}
