@use "./variables/colors";

@use "shared/social_links";
@use "shared/heading";

body {
  height: 85vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  background: hsla(0, 0%, 100%, 0.3);
  border: 3px solid colors.$fg-text;
  border-radius: 15px;
  width: clamp(370px, 80%, 420px);
  padding: 20px;
}

@include heading.var(60px);

@include social_links.var1(space-around);
nav {
  padding: 20px;
}

#website {
  position: absolute;
  bottom: 20px;

  &:hover {
    color: colors.$ac1;
  }
}
