@use "../variables/colors";
@use "../variables/fonts";

main {
  grid-area: a;
  min-height: 400px;
  width: 100%;
  height: 100%;
  transform: skewX(-1deg);
}

.MainContainer {
  height: 100%;
}

//----main-nav-tabs----------
.main-nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0px 10px;
  height: 50px;
}

.tabs {
  font-family: fonts.$text-reg;
  margin-right: 15px;
  position: relative;
  width: 75px;
  height: 40px;
  background-color: lighten(colors.$ac-blue, 10%);
  top: -6px;
  filter: drop-shadow(0px 0px 4px hsl(0, 0%, 50%));
  transition: all 0.2s ease-in-out;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    transition: all 0.2s ease-in-out;
  }

  &:before {
    border-bottom: 6px solid colors.$ac-blue;
    border-right: 6px solid transparent;
    right: -5px;
    top: 0px;
  }

  //hsl(200, 75%, 65%)
  &:after {
    border-width: 20px 37px 0 38px;
    border-style: solid;
    border-color: lighten(colors.$ac-blue, 10%) transparent transparent;
    bottom: -20px;
    right: 0px;
  }
}

.activetab {
  font-size: 18px;
  height: 50px;
  background-color: colors.$ac1;
  &:before {
    border-bottom-color: darken(colors.$ac1, 20%);
  }
  &::after {
    border-top-color: colors.$ac1;
  }
}

//----main-content----------
#main-content {
  grid-area: con;
  padding: 10px 10px 0;
  color: colors.$fg-text;

  p {
    color: colors.$fg-text;
  }
}

.noscript {
  padding: 5px;
  background-color: colors.$ac1;
  opacity: 0;
  animation: slowUnhide 1s linear 2s forwards;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

@keyframes slowUnhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-content-heading {
  display: block;
  margin: 0 80px;
  min-width: 200px;
  color: colors.$fg-text;
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid colors.$fg-text;
}

@media screen and (max-width: 560px) {
  .tab-content-heading {
    margin: 0 20px;
    font-size: 20px;
  }
}

//----blog-content-----
.recent-blogs {
  padding: 0 10px;
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
  }
}

#blog-read-more {
  float: right;
  font-size: 12px;

  &:hover {
    color: colors.$ac1;
  }
}

@media screen and (max-width: 963px) {
  .blog-item {
    a {
      font-size: 20px;
    }
    p {
      font-size: 8px;
    }
  }
}

//----about-content-----
.about-container {
  margin-top: 10px;
  padding: 0px 5%;
  // border: 1px solid colors.$fg-text;

  p {
    margin: 15px 0;
    font-family: fonts.$text-reg;
    font-size: 16px;
  }
}
