@use "../variables/colors";

main {
  grid-area: a;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.em1 {
  grid-area: em1;
}
.em2 {
  grid-area: em2;
}

.NavContainer {
  height: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-areas:
    "em1 nav em2"
    "con con con"
    "sts sts sts";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 60px 1fr auto;
}

//----main-nav-tabs----------
.main-nav {
  box-shadow: 0px 0px 5px hsl(0, 0%, 50%) inset;
  grid-area: nav;
  background-color: colors.$bg-page;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 0 0 10px 10px;
}

.nav-btns-container {
  display: flex;
  justify-content: center;
  height: 44px;
}

.nav-btns {
  display: flex;
}

.tabs {
  padding: 7px 25px;
  font-size: 18px;
  border: 2px solid colors.$fg-text;
  border-right: 0px;
  will-change: padding, font-size;
  transition-duration: 0.2s;
  background-color: colors.$bg-page;

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }

  &:last-of-type {
    border-right: 2px solid colors.$fg-text;
    border-radius: 0 5px 5px 0;
  }
}

.activetab {
  padding: 7px 12px;
  background-color: colors.$ac1;
}

@media screen and (max-width: 560px) {
  .tabs {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 0px !important; //sc
  }

  .activetab {
    padding: 10px;
  }
}

//----main-content----------
#main-content {
  grid-area: con;
  padding: 10px 10px 0;
  color: colors.$fg-text;

  p {
    color: colors.$fg-text;
  }
}

.noscript {
  padding: 5px;
  background-color: colors.$ac1;
  opacity: 0;
  animation: slowUnhide 1s linear 2s forwards;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

@keyframes slowUnhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-content-heading {
  display: block;
  margin: 0 80px;
  min-width: 200px;
  color: colors.$fg-text;
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 2px solid colors.$fg-text;
}

@media screen and (max-width: 560px) {
  .tab-content-heading {
    margin: 0 20px;
    font-size: 20px;
  }
}

//----blog-content-----
.recent-blogs {
  padding: 0 10px;
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
  }
}

#blog-read-more {
  float: right;
  font-size: 12px;

  &:hover {
    color: colors.$ac1;
  }
}

@media screen and (max-width: 963px) {
  .blog-item {
    a {
      font-size: 20px;
    }
    p {
      font-size: 8px;
    }
  }
}

//----about-content-----
.about-container {
  margin-top: 10px;
  padding: 0px 5%;
  // border: 1px solid colors.$fg-text;

  p {
    margin: 15px 0;
    font-family: "Roboto Mono";
    font-size: 16px;
  }
}

//----status----------
#my-status {
  grid-area: sts;
  background-color: colors.$ac1;
  padding: 0px;
  margin: 0px 5px 5px;
  border-radius: 3px;

  p {
    text-align: center;
    color: aliceblue;
  }
}
