@use "../variables/var";

#NothingCard {
  grid-area: i;
  display: flex;
  align-items: center;

  svg {
    fill: var.$fg-text;
    filter: drop-shadow(0 0 2px var.$fg-text);
  }
}

@media screen and (max-width: 800px) {
  #NothingCard {
    display: none;
  }
}
