@use "../variables/colors";
@use "../variables/fonts";

main {
  grid-area: m;
  min-height: 400px;
  width: 100%;
  height: 100%;
  transform: skewX(-1deg);
}

#main-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

noscript {
  display: block;
  padding: 5px;
  background-color: colors.$ac1;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

//----main-nav-tabs----------
.main-nav {
  display: flex;
  justify-content: start;
}

.tabs {
  font-family: fonts.$text-reg;
  margin-right: 10px;
  border-radius: 5px;
  height: 40px;
  min-width: 70px;
  background-color: lighten(colors.$ac-blue, 10%);
  filter: drop-shadow(0px 0px 4px hsl(0, 0%, 50%));
  transition: all 0.1s linear;
}

.activetab {
  background-color: colors.$ac1;
  filter: none;
}

.main-content {
  margin-top: 10px;
  background-color: hsla(210, 0%, 99%, 0.8);
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);
  border-radius: 7px;
  height: 100%;
  padding: 10px 5px;
}

@media screen and (max-width: 800px) {
  .main-content {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }
}
