@use "../variables/colors";
@use "../variables/fonts";

main {
  grid-area: m;
  min-height: 400px;
  width: 100%;
  height: 100%;
  transform: skewX(-1deg);
}

//----main-nav-tabs----------
.main-nav {
  grid-area: x;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 10px;
  height: fit-content;
}

.tabs {
  font-family: fonts.$text-reg;
  // margin-right: 15px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  border-radius: 5px;
  // position: relative;
  // width: 60px;
  height: 40px;
  background-color: lighten(colors.$ac-blue, 10%);
  // right: -10px;
  filter: drop-shadow(0px 0px 4px hsl(0, 0%, 50%));
  transition: all 0.1s linear;

  // &:before,
  // &:after {
  //   content: "";
  //   position: absolute;
  //   height: 0;
  //   width: 0;
  //   transition: all 0.2s ease-in-out;
  // }

  // &:before {
  //   border-left: 6px solid colors.$ac-blue;
  //   border-bottom: 6px solid transparent;
  //   right: 0px;
  //   bottom: -5px;
  // }

  // //hsl(200, 75%, 65%)
  // &:after {
  //   border-width: 27px 25px 28px 0;
  //   border-style: solid;
  //   border-color: transparent lighten(colors.$ac-blue, 10%) transparent transparent;
  //   bottom: 0px;
  //   left: -24px;
  // }
}

.activetab {
  background-color: colors.$ac1;
  filter: drop-shadow(0px 0px 6px hsl(0, 0%, 40%));
  transform: scale(1.05);
  // width: 80px;
  // right: 10px;
  // &:before {
  //   border-left-color: darken(colors.$ac1, 20%);
  // }
  // &::after {
  //   border-right-color: colors.$ac1;
  // }
}

@media screen and (max-width: 800px) {
  .main-nav {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .tabs {
    margin: 0;
    // right: 0;
    // &:before,
    // &:after {
    //   display: none;
    // }
  }
  // .activetab {
  //   width: 60px;
  //   right: 0;
  //   &:before,
  //   &::after {
  //     display: none;
  //   }
  // }
}

//----main-content----------
#main-content {
  color: colors.$fg-text;
  height: 100%;
  padding: 10px;

  p {
    color: colors.$fg-text;
  }
}

.noscript {
  padding: 5px;
  background-color: colors.$ac1;
  opacity: 0;
  animation: slowUnhide 1s linear 2s forwards;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

@keyframes slowUnhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
