@use "../variables/colors";
@use "../variables/fonts";

main {
  grid-area: m;
  min-height: 400px;
  width: 100%;
  height: 100%;
  transform: skewX(-1deg);
}

//----main-nav-tabs----------
.main-nav {
  grid-area: x;
  display: flex;
  justify-content: start;
  padding: 5px;
  height: fit-content;
}

.tabs {
  font-family: fonts.$text-reg;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  border-radius: 5px;
  height: 40px;
  min-width: 70px;
  background-color: lighten(colors.$ac-blue, 10%);
  filter: drop-shadow(0px 0px 4px hsl(0, 0%, 50%));
  transition: all 0.1s linear;
}

.activetab {
  background-color: colors.$ac1;
  filter: drop-shadow(0px 0px 6px hsl(0, 0%, 40%));
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .main-nav {
    padding: 0;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .tabs {
    width: 80px;
    margin: 0;
  }
}

//----main-content----------
#main-content {
  color: colors.$fg-text;
  height: 100%;
  padding: 10px;

  p {
    color: colors.$fg-text;
  }
}

.noscript {
  padding: 5px;
  background-color: colors.$ac1;
  opacity: 0;
  animation: slowUnhide 1s linear 2s forwards;

  p {
    text-align: center;
    a {
      background-color: black;
      padding: 5px;
    }
  }
}

@keyframes slowUnhide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
