@use "../variables/colors";
@use "../variables/fonts";

//----status----------
#dynamic-status {
  grid-area: s;
  background-color: colors.$ac1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status-content {
  height: 100%;
  margin: 0;
  padding: 7px 10px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
}

#status-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.status-meta {
  padding: 3px;
  margin: 0;
  text-align: center;

  a,
  p {
    margin: 0;
    font-size: 9px;
    color: #000;
  }
}
