@use "../variables/var";

.tab-content-heading {
  color: var.$fg-text;
  text-align: center;
  font-size: 24px;
  margin: auto;
  max-width: 70%;
  padding: 0 0 5px;
  border-bottom: 2px solid var.$fg-text;
}

@media screen and (max-width: 560px) {
  .tab-content-heading {
    font-size: 20px;
  }
}

//----blog-content-----
.recent-blogs {
  padding: 0 10px;
}

.blog-list {
  padding-left: 25px;
  margin: 0;
}

.blog-item {
  margin: 10px 0;

  a {
    display: block;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 10px;
    margin: 3px 0;
  }
}

#blog-read-more {
  display: block;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 963px) {
  .blog-item {
    a {
      font-size: 20px;
    }
    p {
      font-size: 8px;
    }
  }
}

//----about-content-----
.about-me {
  margin-top: 10px;
  padding: 0px 5%;

  p {
    margin: 15px 0;
    font-size: 16px;
  }
}

//----github-updates-----
#git-events {
  padding: 10px 5%;
  li {
    padding: 5px 10px;
  }

  span {
    color: hsl(0, 0%, 50%);
    font-size: 10px;
  }
}
