{% macro Header() %}
  <header class="OneCard">
    <h1>It's Chanakya</h1>
  </header>
{% endmacro Header %}


{% macro SocialLinksIcons(count) %}
  <nav class="OneCard">
    <ul>
      {% set socialdata = load_data(path="src/social_links.json", format="json") %}
      {% set sociallimited = socialdata.data | slice(end=count) %}
      {% for link in sociallimited %}
        <li>
          <a class="social-link" href="{{ link.link }}" title="{{ link.title }}" target="_blank" rel="noreferrer">
            <svg viewbox="{{ link.viewBox }}"><path d="{{ link.svg }}"/></svg>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro SocialLinksIcons %}


{# Tabs starts from here #}
{# note: these are not cards #}
{% macro AboutSection() %}
  <div class="about_container">
    <div class="about-me">
      {{ section.content | safe }}
    </div>
  </div>
{% endmacro AboutSection %}

{% macro BlogSection() %}
  {# Add Pinned Posts feature #}
  <div id="blog_container">
    <div class="recent-blogs">
      {% set allpages = [] %}
      {% set articles = get_section(path="blog/_index.md") %}
      {% for p in articles.subsections %}
        {% set subsection = get_section(path=p) %}
        {% set subpages = subsection.pages %}
        {% set_global allpages = allpages | concat(with=subpages) %}
      {% endfor %}
      {% set recentones = allpages | slice(end=5) %}
      {{ self::post_list(posts=recentones) }}
    </div>
  </div>
{% endmacro Footer %}

{% macro post_list(posts) %}

  {% if posts | length > 0 %}
    <ul class="blog-list">
      {% for post in posts %}
      <li class="blog-item">
        <a class="post-link" href="{{ post.permalink }}">{{ post.title }}</a>
        {% if post.date %}
          <p class="post-meta">{{ post.date | date(format="%b %-d, %Y") }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <a id="blog-read-more" href="{{ get_url(path="/blog") }}">Read more...</a>
  {% endif %}

{% endmacro post_list %}


{% macro LogoDiv() %}
  <div id="NothingCard">
    <svg viewBox="0 0 321 210" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 210L153 6V49L78 175H219L236 210H0Z" />
      <path d="M142 163H100L196.629 0L321 210H266L196.5 73L142 163Z" />
      <path d="M224 125H164.11L155 140L240 155L224 125Z" />
    </svg>
  </div>
{% endmacro LogoDiv %}
