$bg-page: hsl(0, 0%, 95%);
$bg-page-gradient: linear-gradient(143deg, hsl(340, 40%, 70%), hsl(260, 40%, 70%));
$bg-card: hsl(80, 35%, 90%);

$fg-text: black;
$fg-links: hsl(220, 100%, 55%);

$ac1: hsl(350, 90%, 60%);
$ac-blue: hsl(220, 100%, 55%);
