{% extends "base.html" %}

{% block head -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ get_url(path="styles/article.css") }}" />
{% endblock head -%}

{% block content %}
<main>
  <header>
    <a href="/blog">
      <span>&larr;</span>
      <span>Blog</span>
    </a>
    <h1>Chanakya</h1>
    <button></button>
  </header>

  <article>
    <div class="article-head">
      <h1 class="title">{{ page.title }}</h1>
      <p class="subtitle"><strong>{{ page.date }}</strong></p>
    </div>

    {{ page.content | safe }}
  </article>
</main>

{% endblock content %}