{% extends "_base.html" %}
{% import "includes/blog-macros.html" as blog %}
{% block title %}Blog | {% endblock title %}

{% block head -%}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_url(path="styles/blog.css") }}" />
{% endblock head -%}

{% block content %}
  {{ blog::header(backlink="/", backbtn="home") }}

  <main>
    {% for subpaths in section.subsections %}
    {% set subsection = get_section(path=subpaths) %}
      <h2>{{ subsection.title }}</h2>
      <div class="pline"></div>
      {% for page in subsection.pages %}
        <article>
          <a href="{{ page.permalink }}">- {{ page.title }}</a>
          <p>{{ page.date | date(format="%Y-%b-%d") }}</p>
        </article>
      {% endfor %}
    {% endfor %}
  </main>

  {{ blog::footer() }}
{% endblock content %}
