{% extends "base.html" %}
{% import "includes/macros.html" as macros %}

<!--head-->
{% block head -%}
    {{ super() }}
    <link rel="stylesheet" href="{{ get_url(path="index.css") }}" />
    <script defer type="module" src="{{ get_url(path="scripts/index.js") }}"></script>
{% endblock head -%}


<!-- prettier-ignore -->
{% block content %}
  <main>
    {{ macros::headerX(class="OneCard", page_name="Website Homepage") }}
    <nav class="OneCard">
      <ul>
        {% set socialdata = load_data(path="content/social.json", format="json") %}
        {% for link in socialdata.data %}
          <li>
            <a href="{{ link.link }}" title="{{ link.title }}" target="_blank" rel="noreferrer">
              <svg viewbox="{{ link.viewBox }}"><path d="{{ link.svg }}"/></svg>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div id="SettingsCard">
      <button id="The-Pro-Button" class="TheButtons" title="On Activation, Shows Professional Info">
        Pro Mode: <span id="Pro-status">OFF</span>
      </button>
      <button id="The-Theme-Button" class="TheButtons" title="Click to toggle between Dark/Light Themes">
        Dark mode: <span id="Theme-status">OFF</span>
      </button>
    </div>

    <section id="about" class="OneCard">
      <div class="about-nav">
        <div class="about-nav-btns">
          <button data-tempid="blog" class="abouttab">Blog</button>
          <button data-tempid="abou" data-defopen=true class="abouttab">About</button>
          <button data-tempid="skil" class="abouttab">Skills</button>
          <button data-tempid="intr" class="abouttab">Interests</button>
        </div>
      </div>

      <div id="about-content"></div>

      <div class="zero-display">
        <template id="templ-blog">
          <div class="recent-blogs">
            <p>Opinionated Blog</p>
            {% set posts_news = get_section(path="blog/_index.md") %}
            {% set pages_news = posts_news.pages | slice(end=3) %}
            {{ macros::post_list(posts=pages_news) }}
          </div>
        </template>

        <template id="templ-abou"></template>

        <template id="templ-skil">
          <p id="meowx">chakachaka</p>
        </template>

        <template id="templ-intr"></template>
      </div>
    </section>

    <footer class="OneCard">
      <div class="main-of-footer">
        <div class="all_social_links">
          <h3>Social Links</h3>
          <div class="highlight"></div>
          <div>
            <a href="">Instagram</a>
            <a>Facebook ignore</a>
            <a href="">Discord</a>
          </div>
        </div>
      </div>

      <div class="footer-of-footer">
        <p>Made with ♥ and Zola by Chanakya</p>
      </div>
    </footer>
  </main>
{% endblock content %}
