{% extends "base.html" %}

<!--head-->
{% block head -%}
    {{ super() }}
    <link rel="stylesheet" href="index.css" />
    <script defer type="module" src="scripts/index.js"></script>
{% endblock head -%}


<!-- prettier-ignore -->
{% block content %}
  <main>
    <header class="OneCard">
      <h1>Chanakya</h1>
      <div class="highlight"></div>
      <p>--- Website HomePage ---</p>
    </header>
    <nav class="OneCard">
      <ul>
        <li>
          <a href="https://github.com/U-C-S" title="GitHub">
            <svg viewBox="0 0 496 512"><path id="svg1-gh" /></svg>
          </a>
        </li>
        <li>
          <a href="mailto:uchanakyasrinvas@gmail.com?subject=Hello%20UCS&body=From%20your%20blog%2C" title="Mail me!">
            <svg viewBox="0 0 512 512"><path id="svg2-mail" /></svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/chanakya-srinivas" title="linkedin">
            <svg viewBox="0 0 448 512"><path id="svg3-in" /></svg>
          </a>
        </li>
        <li>
          <a href="https://www.reddit.com/user/NewFolderdotexe" title="Reddit">
            <svg viewBox="0 0 512 512"><path id="svg4-rdt" /></svg>
          </a>
        </li>
      </ul>
    </nav>
    <div id="SettingsCard">
      <button id="The-Pro-Button" class="TheButtons" title="On Activation, Shows Professional Info">
        Pro Mode: <span id="Pro-status">OFF</span>
      </button>
      <button id="The-Theme-Button" class="TheButtons" title="Click to toggle between Dark/Light Themes">
        Dark mode: <span id="Theme-status">OFF</span>
      </button>
    </div>

    <section id="about" class="OneCard">
      <a href="/blog">
        <h2>Blog</h2>
      </a>
    </section>
    <section id="datame" class="OneCard"></section>

    <footer class="OneCard">
      <div class="main-of-footer">
        <div class="all_social_links">
          <h3>Social Links</h3>
          <div class="highlight"></div>
          <a>GitHub</a>
          <a href="">Instagram</a>
          <a href="">Reddit</a>
          <a>Facebook</a>
          <a href="404.html">LinkedIn</a>
          <a href="">Discord</a>
          <a href="">Twitter</a>
        </div>
      </div>

      <div class="footer-of-footer">
        <p>Made with ♥ and Zola by Chanakya</p>
      </div>
    </footer>
  </main>
{% endblock content %}
