{% extends "_base.html" %}
{% import "macros/m_home.html" as macros %}

<!--head-->
{% block head -%}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_url(path="styles/noscript.css") }}" />
{% endblock head -%}


<!-- prettier-ignore -->
{% block content %}
  {{ macros::Header() }}

  {{ macros::SocialLinksIcons(count=5) }}

  {{ macros::LogoDiv() }}

  <div id="AboutCard" class="OneCard">      
      {{ macros::AboutSection() }}
  </div>

  <div id="BlogCard" class="OneCard">
      {{ macros::BlogSection() }}
  </div>

  {{ macros::Footer() }}

{% endblock content %}
