/* colors: #39ff14 , #ff1439 , hsl(51, 100%, 59%) */
@font-face {
  font-family: "Kalam";
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kalam/v11/YA9dr0Wd4kDdMthROCc.woff2) format("woff2");
}

.main-square {
  box-sizing: border-box;
  width: 60%;
  max-width: 640px;
  padding: 15px 15px 0;
  color: white;
  text-align: center;
  transition: all 0.2s linear;
  animation: Rounding 8s linear forwards;
}

@keyframes Rounding {
  from {
    border-radius: 0px;
  }
  to {
    border-radius: 37px;
  }
}
/*----------------------------------------------*/
header h1 {
  font-size: 60px;
  font-family: "Kalam", cursive;
  text-align: center;
  margin: 0;
  user-select: none;
  animation: Head-light 16s ease-in-out infinite;
}
@keyframes Head-light {
  0%,
  100% {
    color: white;
  }
  20%,
  80% {
    color: #ff1439;
    text-shadow: 0 0 10px #ff1439;
  }
  50% {
    color: #ff1439;
    text-shadow: 0 0 0px #ff1439;
  }
}

.title-ucs p {
  font-family: monospace;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  width: 40px;
  height: 40px;
  margin: 5px 15px;
  transition: all 0.2s ease-in-out;
}
nav a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
}
nav svg {
  fill: white;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

nav svg:hover {
  fill: #ff1439;
}
nav li:hover {
  transform: scale(1.2);
}

.para-img {
  margin: auto;
}
.para-img img {
  width: 240px;
}

/*----media rules-----------------------------------------*/
@media screen and (min-width: 600px) {
  .main-square {
    box-shadow: 0 0 30px white;
    transition: all 0.3s ease-in-out;
    border: 4px solid white;
  }
  .main-square:hover {
    border: 4px solid #ff1439;
    box-shadow: 0 0 60px #ff1439;
  }
}
@media screen and (max-width: 600px) {
  .main-square {
    width: 97%;
    border: 4px solid #ff1439;
    box-shadow: 0 0 40px #ff1439;
  }
  .title-ucs h1 {
    font-size: 60px;
  }
  nav li {
    width: 36px;
    height: 36px;
  }
}
