/* colors: #39ff14 , #ff1439 , hsl(51, 100%, 59%) */
body, html{
  background-color: black;
  scroll-behavior: smooth;
}

.main-square{
  width: 50%;
  min-width: 320px;
  margin: 15px auto 256px;
  border-radius: 55px;
  color: white;
  text-align: center;
}
/*hover available in media*/

/*----------------------------------------------*/
.title-ucs{
  margin: 10px 10px 20px 10px;
}
.title-ucs h1{
  font-size: 70px;
  font-family: 'Kalam', cursive;
  margin: 20px 20px 10px;
  user-select: none;
  -ms-user-select: none;
  animation: head-light 16s linear infinite;
}
@keyframes head-light {
  0%, 100% {color: white;}
  20%, 80% {color: #ff1439; text-shadow: 0 0 5px #ff1439;}
  50% {color: #ff1439; text-shadow: 0 0 15px #ff1439;}
}

.title-ucs p{
  font-family: monospace;
  margin-top: 0;
}

hr{
  width: 60%
}

.links{
  box-sizing: border-box;
  width: 70%;
  margin: 15px auto 30px;
}

.links ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.links li{
  width: 40px;
  height: 40px;
  margin: 5px 15px;
  transition: all 0.2s ease-in-out;
}
.links a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
}
.links svg{
  fill: white;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.links svg:hover{
  fill: #ff1439;
}
.links li:hover{
  transform: scale(1.2);
}

.para-img{
  margin: 20px auto 10px;
}
.para-img img{
  width: 120px;
}

.godown{
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 22%;
  min-width: 108px;
  height: 46px;
  border: 4px solid white;
  transform: translateY(27px);
  background-color: black;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/*hover available in media*/

#down-btn{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: monospace;
}

/*----------------------------------------------*/
/* DIV 2 */
#content{
  width: 100%;
}
.c-row{
  margin: 5px auto;
  padding: 10px 0;
  height: 40px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#navbtn{
  width: 110px;
  height: 35px;
  border: 2px solid white;
  outline: none;
  text-align: center;
  font-family: monospace;
  transition: all 0.2s ease-in-out;
}
#navbtn:hover{
  background-color: #ff1439;
  cursor: pointer;
  color: white;
}
#content p{
  color: white;
  text-align: center;
  font-family: monospace;
}

/*----media rules-----------------------------------------*/
@media screen and (min-width: 600px){
  .main-square{
    box-shadow: 0 0 30px white;
    transition: all 0.3s ease-in-out;
    border: 4px solid white;
  }
  .main-square:hover{
    border: 4px solid #ff1439;
    box-shadow: 0 0 60px #ff1439;
  }
  .godown:hover{
    border: 4px solid hsl(51, 100%, 59%);
    box-shadow: 0 0 15px hsl(51, 100%, 59%);
    width: 27%;
  }
}
@media screen and (max-width: 600px){
  .main-square{
    width: 97%;
    border: 4px solid #ff1439;
    box-shadow: 0 0 40px #ff1439;
  }
  .title-ucs h1{
    font-size: 60px;
  }
  .godown{
    border: 4px solid hsl(51, 100%, 59%);
  }
  .links li{
    width: 30px;
    height: 30px;
  }
}