body {
  background-color: black;
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

main {
  border: 4px solid white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr) 1fr;
  grid-template-rows: 100px 140px 30px 200px 100px;
  grid-template-areas:
    "d h a"
    "d l a"
    "d . a"
    ". . ."
    ". . .";
  height: 100%;
}

.OneCard {
  transition: all 0.2s linear;
}

.OneCard:hover {
  border: 2px solid #ff1439;
  box-shadow: 0 0 60px #ff1439;
}

header {
  grid-area: h;
  border: 2px solid white;
  border-top: 0;
}

nav {
  grid-area: l;
  margin: 20px 0 0;
  border: 2px solid white;
  min-width: 300px;
}
