:root {
  --accentColor: #ff1439;
}

body {
  background-color: black;
  margin: 0;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr) 1fr;
  grid-template-rows: 80px 80px 140px 300px;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas:
    "d h a"
    "d l a"
    "d i a"
    "b b a";
}

.OneCard {
  border-radius: 5px;
  border: 3px solid white;
  transition: all 0.2s linear;
}

.OneCard:hover {
  border: 3px solid var(--accentColor) !important;
  box-shadow: 0px 2px 20px var(--accentColor);
}

/*----main child ---------------*/
header {
  grid-area: h;
}

nav {
  grid-area: l;
  display: flex;
  align-items: center;
}

.social_media_links {
  width: 100%;
}

#about {
  grid-area: a;
}

#datame {
  grid-area: d;
}

#blog {
  grid-area: b;
}
